body{
    color: #333;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 0px;
    padding: 0px;
}

#header{
    background: #33A;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0px;
    padding: 0.5em;

}

#header #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container{
    width: 70%;
    padding: 1px;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0px auto;
}

#container h1{
    font-size: 30px;
}

/* Navegacion */
.nav-bg{
    background-color: rgb(74, 74, 245);
}

.navegacion-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navegacion-principal a{
    display: block;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navegacion-principal a:hover{
    background-color: #33A;
    height: 100%;
}